{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "quoteProps": "preserve",
    "plugins": [
        "prettier-plugin-svelte",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^\\./(.*)$",
        "^\\$env/(.*)$",
        "^\\$app/(.*)$",
        "^\\$lib/(.*)$"
    ],
    "importOrderSeparation": true
}
