@font-face {
    font-family: Merriweather;
    src: url("$lib/fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("$lib/fonts/OpenSans-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply min-h-full;
    }

    h1 {
        @apply font-bold font-merriweather text-2xl;
    }
    h2 {
        @apply font-bold font-merriweather text-xl;
    }
    h3 {
        @apply font-bold font-merriweather text-lg;
    }

    a {
        @apply duration-150 hover:text-secondary;
    }
}

@layer utilities {
    .word-break {
        word-break: break-word;
    }
}
